div {
    background-color: lightgreen;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block
}

div:hover {
    background-color: rgb(143, 10, 10);
    color: aliceblue;
}

