@charset "UTF-8";

body {
    background-color: rgb(209, 188, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    bac

}

h1 {
    color: rgb(206, 4, 4);
}

h2 {
    color: rgb(14, 120, 11);
}

p {
    text-align: justify;
}